/*Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  background-color: white;
  width: 800px;
  margin: 30px auto;
  border-radius: 4px;
}

body {
  background-color: rgb(212, 212, 212);
}

#logo {
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
}

.add-task {
  background-color: #47adf1;
  color: white;
}

.add-section {
  background-color: white;
  color: rgb(160, 160, 160);
  border-color: rgba(212, 212, 212, 0.897);
  border: 1px solid;
}

nav {
  padding: 10px 50px 10px 20px;
  padding-left: 50px;
}

.button {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  border-color: gray;
}

hr {
  color: rgb(212, 212, 212);
}

p {
  font-weight: bold;
  margin-top: 20px;
}

.done {
  content: "\2713";
  justify-content: center;
  align-content: center;
  text-align: center;
  display: inline-block;
  color: green;
  padding: 0 0 0 0;
  border-color: green;
  border: 1px solid;
  border-radius: 20px 20px;
  width: 21px;
  font-size: 0.7em;
}

.undone {
  content: "\2718";
  justify-content: center;
  align-content: center;
  text-align: center;
  display: inline-block;
  color: red;
  padding: 0 0 0 0;
  border-color: red;
  border: 1px solid;
  border-radius: 20px 20px;
  width: 21px;
  font-size: 0.7em;
}

.list {
  color: rgb(82, 82, 82);
  font-size: 25px;
  padding-left: 50px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.task {
  list-style-type: none;
  font-size: 20px;
}

li {
  margin: 10px 0;
}

ul li {
  list-style-type: none;
  font-size: 1em;
}

.labels {
  display: inline-block;
  text-align: center;
  font-size: 19px;
  border-radius: 20px;
  padding: 10px 10px 10px 10px;
  color: white;
}

.bluelabel {
  background-color: #45abea;
}

.purplelabel {
  background-color: #9c72e4;
}

.greenlabel {
  background-color: #64c0a9;
}

.orangelabel {
  background-color: #f29e33;
}

.redlabel {
  background-color: #d863a1;
}

.pistachiolabel {
  background-color: #b0c926;
}
