/*Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  background-color: white;
  width: 800px;
  margin: 30px auto;
  border-radius: 4px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 30px;
}

body {
  background-color: rgb(212, 212, 212);
}

#logo {
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
}

.add-task {
  background-color: #47adf1;
  color: white;
}

.add-section {
  background-color: white;
  color: rgb(160, 160, 160);
  border-color: rgba(212, 212, 212, 0.897);
  border: 1px solid;
}

nav {
  padding: 10px 20px 10px 20px;
}

.button {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  border-color: gray;
}

hr {
  color: rgb(212, 212, 212);
}

p {
  font-weight: bold;
  margin-top: 20px;
}

.done {
  color: green;
}

.undone {
  color: red;
}

.list {
  padding: 50px 40px 50px 4 0px;
  color: rgb(82, 82, 82);
  font-size: 25px;
  line-height: 1.5em;
}

.task {
  list-style-type: none;
  font-size: 20px;
}

.labels {
  display: inline-block;
  text-align: center;
  font-size: 19px;
  border-radius: 20px;
  padding: 0 10px 0 10px;
  color: white;
}

#bluelabel {
  background-color: #45abea;
}

#purplelabel {
  background-color: #9c72e4;
}

#greenlabel {
  background-color: #64c0a9;
}

#orangelabel {
  background-color: #f29e33;
}

#redlabel {
  background-color: #d863a1;
}

#pistachiolabel {
  background-color: #b0c926;
}
